		<!-- //section끝 -->
		<!--footer시작-->
	<footer class="footer">
		<img src="../../images/common/icon_footer_logo.png" class="footer__logo" alt="루이까또즈">
		<ul class="footer__list">
			<li class="footer__item fw-bold">
				<a href="" class="footer__link">이용약관</a>
			</li>
			<li class="footer__item">
				<a href="" class="footer__link">개인정보처리방침</a>
			</li>
			<li class="footer__item">
				<a href="" class="footer__link">고객센터</a>
			</li>
			<li class="footer__item">
				<a href="" class="footer__link">STORES</a>
			</li>
			<li class="footer__item">
				<a href="" class="footer__link">MEMBERSHIP</a>
			</li>
			<li class="footer__item">
				<a href="" class="footer__link">ABOUT</a>
			</li>
		</ul>
		<p class="footer__txt">
			(주)태진인터내셔날    대표이사 전상우 신경민<br>
			서울시 동대문구 하정로 26<br>
			국내사업자등록번호 211-81063749   <a class="footer__blank" href="">사업자정보확인</a><br>
			통신판매업신고 제 2011-서울동대문구-0019호
		</p>
		<p class="footer__txt">
			•고객센터 080-599-1414  • A/S문의 080-725-7272<br>
    		월-금 9:30 -18:00 (공휴일 휴무)  점심 12:00-13:00
		</p>
		<p class="footer__txt">
			소비자피해 보상보험<br>
			고객님은 안전거래를 위해 현금 결제시 저희사이트에서<br>
			가입한 구매안전 서비스를 이용하실 수 있습니다.<br>
			<a href="" class="footer__blank">서울보증보험 가입 확인</a>
		</p>
		<div class="footer-sns">
			<ul class="footer-sns__list">
				<li class="footer-sns__item type-facebook">
					<a href="" class="footer-sns__link">facebook</a>
				</li>
				<li class="footer-sns__item type-instagram">
					<a href="" class="footer-sns__link">instagram</a>
				</li>
				<li class="footer-sns__item type-youtube">
					<a href="" class="footer-sns__link">youtube</a>
				</li>
				<li class="footer-sns__item type-post">
					<a href="" class="footer-sns__link">post</a>
				</li>
				<li class="footer-sns__item type-talk">
					<a href="" class="footer-sns__link">talk</a>
				</li>
			</ul>
		</div>
		<div class="footer__copy">
			COPYRIGHT LOUIS QUATORZE. ALL RIGHTS RESERVED.
		</div>
	</footer>
	<script src="../../js/libs/jquery-1.11.3.min.js"></script>
	<script src="../../js/common.js"></script>
</body>
</html>
<!--footer끝-->
