<%
	var data = jsonData
%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
<meta name="format-detection" content="telephone=no, address=no, email=no">
<meta property="og:type" content="website">
<meta property="og:title" content="루이가또즈">
<meta property="og:description" content="">
<meta property="og:url" content="">
<title><%= data.site.name.kor %></title>
<!-- 공통 css -->
<link rel="stylesheet" href="../../css/common.css">
<% if (page == "main") { %>
	<link rel="stylesheet" href="../../css/main.css">
<% } %>
</head>
<% if (page == "main") { %>
	<body class="page-main">
	<header>
		<div class="header">
<% }else { %>
	<body>
	<header>
		<div class="header"> <!-- 화이트배경 type-white-->
<% } %>

			<div class="wrap">
				<div class="mobile-menu">
					<!-- 모바일 햄버거 -->
					<a href="#" class="mobile-menu__wrap js-menu-btn">
						<span class="mobile-menu__line">line</span>
					</a>
				</div>
				<a href="" class="header__logo">
					<img src="../../images/common/logo.png" alt="louis quatorze" class="img-w100 header__black">
					<img src="../../images/common/logo_w.png" alt="louis quatorze " class="img-w100 header__white">
				</a>
				<div class="header__right">
					<a href="" class="header__btn type-search js-search-open">
						<img src="../../images/common/search.png" class="img-w100 header__black" alt="">
						<img src="../../images/common/search_w.png" class="img-w100 header__white" alt="">
					</a>
					<a href="" class="header__btn type-basket">
						<div class="basket-icon">
							<span class="basket-icon__num">19</span>
							<img src="../../images/common/basket_w.svg" class="img-w100 header__white" alt="">
							<img src="../../images/common/basket.svg" class="img-w100 header__black" alt="">
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="gnb type-1depth">
			<a href="" class="gnb__close js-menu-btn">close</a>
			<div class="gnb__scroll">
				<div class="gnb-header">
					<div class="gnb-header__wrap">
						<ul class="gnb-header__list">
							<li class="gnb-header__item">
								<a href="" class="gnb-header__link">login</a>
							</li>
							<li class="gnb-header__item">
								<a href="" class="gnb-header__link">Join</a>
							</li>
							<li class="gnb-header__item">
								<a href="" class="gnb-header__link">wish list</a>
							</li>
							<li class="gnb-header__item">
								<!-- txt-v3 클래스추가 -->
								<a href="" class="gnb-header__link txt-v3">최근 본 상품(99)</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link" data-page="none">new arrival</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link type-2depth" data-page="page-woman">woman</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link type-2depth" data-page="page-man">men</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link type-2depth" data-page="page-accessory">accessories</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link type-2depth" data-page="page-shop">another shop</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link" data-page="page-collection">collection</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link" data-page="none">promotion</a>
						</li>
						<li class="gnb-body__item type-banner">
							<a href="" class="gnb-body__link">
								<img src="../../mo/img/new_common/gnb_banner.jpg" alt="" class="gnb-body__banner">
							</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link" data-page="none">stores</a>
						</li>
						<li class="gnb-body__item">
							<a href="" class="gnb-body__link" data-page="none">membership</a>
						</li>
					</ul>
				</div>            
			</div>
		</div>
		<!-- page-woman -->
		<div class="gnb type-2depth page-woman">
			<div class="gnb__scroll">
				<div class="gnb-header">
					<a href="" class="gnb-header__link">
						<div class="gnb-header__wrap">
							<p class="gnb-header__tit js-gnb-back">woman</p>
						</div>
					</a>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">bag</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">숄더백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">토트백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">크로스백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">미니백/클러치백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">백팩</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">wallet</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">장지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">중지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">반지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">카드/명함지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">멀티지갑</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="gnb__banner">
					<img src="../../mo/img/new_common/gnb_banner_2.jpg" class="img-noraml" alt="">
				</div>
			</div>
		</div>
		<!-- //page-woman -->
	
		<!-- page-man -->
		<div class="gnb type-2depth page-man">
			<div class="gnb__scroll">
				<div class="gnb-header">
					<a href="" class="gnb-header__link">
						<div class="gnb-header__wrap">
							<p class="gnb-header__tit js-gnb-back">man</p>
						</div>
					</a>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">bag</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">서류가방</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">토트백/클러치백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">크로스백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">백팩</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">wallet</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">장지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">중지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">반지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">머니클립</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">카드/명함지갑</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">belt</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">벨트</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="gnb__banner">
					<img src="../../mo/img/new_common/gnb_banner_2.jpg" class="img-noraml" alt="">
				</div>
			</div>
		</div>
		<!-- page-man -->
	
		<!-- page-accessory -->
		<div class="gnb type-2depth page-accessory">
			<div class="gnb__scroll">
				<div class="gnb-header">
					<a href="" class="gnb-header__link">
						<div class="gnb-header__wrap">
							<p class="gnb-header__tit js-gnb-back">accessory</p>
						</div>
					</a>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">season item</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">스카프</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">머플러</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">넥타이</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">셔츠</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">우양산</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">etc</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">키링</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">키지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">휴대폰케이스</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">기타지갑</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">기타상품</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">루이까또즈 리빙</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">belt</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">all</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">벨트</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="gnb__banner">
					<img src="../../mo/img/new_common/gnb_banner_2.jpg" class="img-noraml" alt="">
				</div>
			</div>
		</div>
		<!-- page-accessory -->
	
	
		<!-- page-collection -->
		<div class="gnb type-2depth page-collection">
			<div class="gnb__scroll">
				<div class="gnb-header">
					<a href="" class="gnb-header__link">
						<div class="gnb-header__wrap">
							<p class="gnb-header__tit js-gnb-back">another shop</p>
						</div>
					</a>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item type-none">
							<a href="" class="gnb-body__link" data-page="none">20 SS Season Collection</a>
						</li>
						<li class="gnb-body__item type-none">
							<a href="" class="gnb-body__link" data-page="none">20 SS HolyNumber7 Edition</a>
						</li>
					</ul>
				</div>
				<div class="gnb__banner">
					<img src="../../mo/img/new_common/gnb_banner_2.jpg" class="img-noraml" alt="">
				</div>
			</div>
		</div>
		<!-- page-collection -->
	
		<!-- page-shop -->
		<div class="gnb type-2depth page-shop">
			<div class="gnb__scroll">
				<div class="gnb-header">
					<a href="" class="gnb-header__link">
						<div class="gnb-header__wrap">
							<p class="gnb-header__tit js-gnb-back">another shop</p>
						</div>
					</a>
				</div>
				<div class="gnb-body">
					<ul class="gnb-body__list">
						<li class="gnb-body__item type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">sustainable brand</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">오운유</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">큐클리프</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">젠니클로젯</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">할리케이</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">제리백</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">포쉬프로젝트</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">spin-off brand</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">아비비</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">백라라</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">앳댓타임</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="gnb-body__item  type-2depth">
							<a href="" class="gnb-body__link" data-page="3depth">select paris brand</a>
							<div class="gnb-3depth">
								<ul class="gnb-3depth__list">
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">르쏭데쇼즈</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">잭곰</a>
									</li>
									<li class="gnb-3depth__item">
										<a href="" class="gnb-3depth__link">호텔파리도쿄</a>
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
				<div class="gnb__banner">
					<img src="../../mo/img/new_common/gnb_banner_2.jpg" class="img-noraml" alt="">
				</div>
			</div>
		</div>
		<!-- page-shop -->
		<!-- dim -->
		<div class="dim"></div>
		<!--//dim-->
		<div class="search">
			<div class="search__wrap">
				<a href="" class="search__close js-search-close">close</a>
				<form id="" name="" class="form-inline" method="post" action="">
					<div class="search__group">
						<label class="sr-only" for="keyword">검색</label>
						<input type="text" class="search__input" name="keyword" id="keyword" autocomplete="off" placeholder="Search"
							required="">
						<button type="submit" class="search__btn type-submit">검색</button>
					</div>
				</form>
				<div class="search__box">
					<p class="search__tit">TREND</p>
					<ul class="search__list">
						<li class="search__item"><a href="" class="search__link">여성반지갑</a></li>
						<li class="search__item"><a href="" class="search__link">남성반지갑</a></li>
						<li class="search__item"><a href="" class="search__link">카드지갑</a></li>
						<li class="search__item"><a href="" class="search__link">남성가방</a></li>
					</ul>
				</div>
				<div class="search__box">
					<p class="search__tit">RECOMMEND</p>
					<ul class="search__list">
						<li class="search__item"><a href="" class="search__link">쥬쥬백</a></li>
						<li class="search__item"><a href="" class="search__link">라라지갑</a></li>
						<li class="search__item"><a href="" class="search__link">몬트백</a></li>
						<li class="search__item"><a href="" class="search__link">치즈백</a></li>
					</ul>
				</div>
			</div>
			
		</div>

	</header>
<!-- section시작 -->
