

//헤더,푸터 공통 레이아웃
html,body{margin:0; padding:0; word-break: keep-all; color:$black1; font-family: $defaultFont;
	&.no-scroll{position:fixed; overflow:hidden ; width:100%; height:100%;}
}

html{height:100%;}
body{position:relative; min-height:100%; padding-bottom:0; box-sizing: border-box; background:green;}
.wrap{padding:0 calcRem($sitePadding); box-sizing:border-box;}

.container{padding-top:calcRem($headerHeight);}
.header{position:fixed; top:0; left:0; right:0; height:calcRem($headerHeight); text-align:center; z-index:$headerZindex;
    $this:&;
    &.type-white{
        .mobile-menu__line{border-color:#fff;
            &:before,&:after{border-color:#fff;}
        }
        .basket-icon__num{color:#fff;}
        #{$this}__black{display:none;}
        #{$this}__white{display:block;}
    }
    &.is-active{
        .mobile-menu__line{border-color:$black1 !important;
            &:before,&:after{border-color:$black1 !important;}
        }
        .basket-icon__num{color:$black1 !important;}
        #{$this}__black{display:block !important;}
        #{$this}__white{display:none !important;}
    }
    &__logo{display:block; position:absolute; top:0; bottom:0; left:0; right:0; width:calcRem(156rem); height:calcRem(19rem); margin:auto;}
    &__right{position:absolute; top:0; bottom:0; right:calcRem($sitePadding); height:calcRem(17rem); margin:auto 0; font-size:0;}
    &__area{position:relative;}
    &__btn{display:inline-block; vertical-align: top;
        & + &{margin-left:calcRem(12rem);}
        &.type-search{position:relative; top:calcRem(2rem); width:calcRem(17rem); height:calcRem(14rem);}
        &.type-basket{position:relative; width:calcRem(14rem); height:inherit;}
    }
    &__link{display:block; text-decoration: none;}
    &:before{display:block; position: absolute; top:0; left:0; right:0; height:calcRem($headerHeight); background-color:#fff; transition:top 0.3s; content:'';}
    &__white{display:none;}
}

.basket-icon{position:relative;
    &__num{position:absolute; left:0; right:0; bottom:calcRem(1rem); @include body4();  line-height:1; color:$black1; text-align: center; letter-spacing:-1px; padding-right:calcRem(1rem);}
}

.gnb{position:fixed; top:calcRem($headerHeight);  width:calc(100% - #{calcRem(45rem)}); bottom:0; background-color:#fff; z-index:$gnbZindex; 
    transform: translateX(-120%); transition: transform 0.5s;
    $this:&;
    &.is-active{transform: translateX(0);}
    &.type-1depth{z-index:$depth1Zindex;}
    &.type-2depth{z-index:$depth2Zindex;;
        .gnb-body{min-height:50%; height:auto;}
        #{$this}__scroll{padding-bottom:calcRem(40rem); box-sizing:border-box;}
    }
    &__scroll{position:relative; overflow:auto; width:100%; height:100%;}
    &__close{overflow:hidden; display:block; position:absolute; top:calcRem(20rem); right: calcRem(-30rem); width:calcRem(16rem); height:calcRem(16rem); 
        @include background('/images/common/close.png','no-repeat center center / contain'); text-decoration: none; text-indent: -9999px;
    }
    &__banner{
        img{width:100%;}
    }
}

.dim{display:none; position:fixed; top:calcRem($headerHeight); left:0; right:0; bottom:0; z-index:$dimZindex; background-color: rgba(0,0,0,0.5);
    &.is-active{display:block;}
    &.is-sub{display:block; top:calcRem(95rem)}
}

.gnb-header{padding:0 calcRem($sitePadding); box-sizing:border-box; border-bottom:1px solid #cacaca;
    &__wrap{display:table-cell; width:1%; height:calcRem($topHeight); vertical-align:middle;}
    &__list{margin:0; padding:0;}
    &__item{display:inline-block; list-style:none; 
        & + &{margin-left:calcRem(14rem)}
    }
    &__tit{position:relative; margin:0; padding-left:calcRem($sitePadding); @include title2(); box-sizing:border-box; text-transform: uppercase; font-weight:$medium;
       &:before{display:block; position:absolute; top:calcRem(2.5rem); left:0; width:calcRem(8rem); height:calcRem(14rem); @include background('/images/common/gnb_back.png','no-repeat center center / contain'); content:'';}
    }
    &__link{display:block; @include title2();}
}

.gnb-body{height:calc(100% - #{calcRem(58rem)}); box-sizing:border-box;
    $this:&;
    &__list{overflow:auto; height:100%; margin:0; padding:calcRem(15rem) calcRem($sitePadding) calcRem(40rem); box-sizing:border-box;}
    &__item{position:relative; list-style:none;
        &:after{display:block; position:absolute; top:calcRem(20rem);  right:0; width:calcRem(5rem); height:calcRem(9rem); 
            @include background('/images/common/gnb_arrow.png','no-repeat center center / contain'); content:'';}
        &.type-banner{margin-left: calcRem(-$sitePadding); margin-right: calcRem(-$sitePadding);
            &:after{display:none}
            #{$this}__link{display:block; width:auto; height:auto; padding-right:0;}
            img{width:100%;}
        }
        &.type-2depth{
            &:after{transform: rotate(90deg);}
            &.is-active{
                &:after{transform: rotate(270deg);}
            }
        }
        &.type-none{
            &:after{display:none;}
        }
    }
    &__link{display:table-cell; width:1%; height:calcRem(50rem); padding-right:calcRem(15rem); @include title1(); text-transform: uppercase; vertical-align:middle; box-sizing:border-box;}
}

.gnb-3depth{display:none; padding-left:calcRem($sitePadding); box-sizing:border-box;
    &.is-active{display:block;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none;}
    &__link{display:table-cell; height:calcRem($itemHeight); width:1%; @include body1(); vertical-align: middle; text-transform: uppercase;}
}





.mobile-menu{position:absolute; top:0; left:calcRem($sitePadding);  bottom:0; width:calcRem(18rem); height:calcRem(14rem); margin:auto; text-align: center; box-sizing:border-box; z-index:50; cursor:pointer;
	$this:&;
	&__wrap{position:relative; display:block; width:100%; height:100%;}
	&__line{position:absolute; top:0; right:0; bottom:0; display:block; height:0; width:100%; border-top:1px solid $black1; margin:auto; transition: all linear 0.2s;font-size:0;
		&:before{position:absolute; left:0; top:calcRem(-7rem); width:100%; height:0; border-top:1px solid $black1; transition: all linear 0.2s; content:'';}
		&:after{position:absolute; left:0; bottom:calcRem(-6rem); width:100%; height:0; border-top:1px solid $black1; transition: all linear 0.2s; content:'';}
	}
	&__tel{display:none;}
}



.footer{position:absolute; left:0; right:0; bottom:0; padding:calcRem(30rem) calcRem(30rem); text-align:center; box-sizing:border-box; background-color:$bgColor;
    &__logo{vertical-align:middle; width:calcRem(150rem);}
    &__list{margin:calcRem(20rem) 0 0 0; padding:0; list-style:none; font-size:0;}
    &__item{display:inline-block; width:33.33%; font-size:11px;  color:$black1;}
    &__link{display:block; padding:calcRem(2rem) 0; @include body2();}
    &__blank{text-decoration: underline;}
    &__copy{margin-top:calcRem(22rem); @include body4();}
    &__txt{margin-top:calcRem(18rem); @include body3(); line-height:calclH(24,12); color:$black2;
        & + &{margin-top:calcRem(16rem);}
    }
}

.footer-info{margin-top:calcRem(20rem);
    $this:&;
    &__list{margin:0; padding:0; font-size:0;
        // & + &{margin-top:2px;}
        &.type-another{margin-top:calcRem(16rem);}
    }
    &__item{position:relative; display:inline-block; list-style:none; font-size:10px; color:$black1; line-height:1.65;
        & + &{padding-left:calcRem(7rem); margin-left:calcRem(6rem);
            &:before{position:absolute; left:0; top:calcRem(4rem); display:block; width:0; height:calcRem(8rem); border-left:1px solid $black1; content:'';}
             &.type-grey{
                &:before{border-left-color:#878686;}
            }
        }
        &.type-block{display:block; padding-left:0; margin-left:0;
            &:before{display:none;}
        }
    }
    &__link{position:relative; cursor:pointer; color:$black1 !important; text-decoration: none !important;
        &:after{display:block; position:absolute; left:0; bottom:0px; width:100%;  height:0; border-top:1px solid $black1; content:'';}
        &:hover{color:inherit}
    }
    &__tit{margin:calcRem(16rem) 0 calcRem(2rem) 0; font-size:10px; color:$black1;}
}

.footer-sns{margin-top:calcRem(20rem);
    $this:&;
    &__list{margin:0; padding:0; font-size:0;}
    &__item{display:inline-block; width:calcRem(20rem); height:calcRem(20rem); list-style:none;
        &.type-facebook{
            #{$this}__link{@include background('../images/common/icon_footer_facebook.png','no-repeat center center / contain')}
        }
        &.type-instagram{
            #{$this}__link{@include background('../images/common/icon_footer_insta.png','no-repeat center center / contain')}
        }
        &.type-youtube{
            #{$this}__link{@include background('../images/common/icon_footer_youtube.png','no-repeat center center / contain')}
        }
        &.type-post{ 
            #{$this}__link{@include background('../images/common/icon_footer_post.png','no-repeat center center / contain')}
        }
        &.type-talk{
            #{$this}__link{@include background('../images/common/talk_ico.png','no-repeat center center / contain')}
        }
        & + &{margin-left:calcRem(16rem)}
    }
    &__link{display:block; height:100%;}
}

.search{position:fixed; top:-100%; left:0; width:100%; height:100%;  background:#fff; transition: top 0.5s; z-index:$searchZindex;
    &.is-active{top:0;}
    &__wrap{overflow:auto; height:100%; padding:calcRem(60rem) calcRem(40rem); box-sizing:border-box;}
    &__btn{overflow:hidden; position:absolute; top:0; right:0; bottom:0; margin:auto 0; text-indent:-9999px;
        width:calcRem(22rem); height:calcRem(18rem); border:none;
        @include background('/images/common/search_btn.png','no-repeat center center / contain')
    }
    &__input{display:flex; width:100% ; height:calcRem(36rem) ; align-items: center; border:none ; background-color:transparent ; border-bottom:1px solid $black1; font-size:18px; padding:0 ; outline:0;
        &::placeholder{color:#878686 ;}
    }
    &__group{position:relative;}
    &__close{overflow:hidden; position:absolute; top:15px; right:calcRem($sitePadding); display:block; width:calcRem(15rem); height:calcRem(14rem); text-indent:-9999px;
        @include background('/images/common/search_close.png','no-repeat center center / contain');       
    }
    &__box{margin-top:calcRem(40rem);
        & + &{margin-top:calcRem(34rem);}
    }
    &__tit{display:flex; height:calcRem(40rem); align-items: center; margin:0;  @include title2(); color:$black1;}
    &__list{margin:0; padding:0;}
    &__item{list-style:none;}
    &__link{display:flex; position:relative; height:calcRem(30rem);  padding-left:calcRem(18rem); box-sizing:border-box; @include body2(); align-items: center;
        &:before{position:absolute; left:0; top:calcRem(4rem); display:block; width:calcRem(10rem); height:calcRem(10rem); @include background('/images/common/search_small.png','no-repeat center center / contain'); content:'';}
    }
}

//lnb
.lnb-v2{position:relative; background-color: #fff;
    $this:&;
    &.is-active{
        #{$this}__wrap{display:block;}
        #{$this}__dim{display:block;}
    }
    &.type-one{
        #{$this}__arrow{padding-right:0;
            &:after{display:none;}
        }
    } 
    &__tit{position:relative; margin:0;}
    &__back{overflow:hidden; position:absolute; top:0; left:0; width:50px; height:calcRem($topHeight); text-indent: -9999px; z-index:10;
        display:block; @include background('/images/common/gnb_back.png','no-repeat left 20px center / 8px 14px'); content:'';
    }
    &__btn{display:table-cell; width:1%; height:calcRem($topHeight); vertical-align: middle;  text-align:center; text-transform: uppercase; font-weight:$medium;}
    &__arrow{display:inline-block; position:relative; padding-right:16px;
        &:after{position:absolute; right:0; display:block; width:7px; height:4px; top:0; bottom:0; margin:auto;  @include background('/images/common/arrow_down.png','no-repeat right center / contain'); content:''; }
    }
    &__wrap{display:none; position:absolute;  left:0; padding:15px 0; background-color:$bgColor; box-sizing:border-box; z-index:20;}
    &__list{overflow:auto; margin:0; padding:0; max-height:400px;}
    &__item{list-style:none;
        &.is-active{
            #{$this}__line{font-weight:$medium;
                &:after{position:absolute; left:0; bottom:-1px; width:100%; height:1px; background-color:#000; content:'';}
            }
        }
    }
    &__dim{overflow:hidden; display:none; position:fixed; top:$headerTotal; left:0; right:0; bottom:0; background-color:rgba(0,0,0,0.5); text-indent:-9999px; z-index:20;}
    &__link{display:table-cell; height:$itemHeight; width:1%;  vertical-align: middle; text-transform: uppercase; text-align:center;}
    &__line{display:inline-block; position:relative;}
}