//공통으로 쓸만한 것들
a{text-decoration: none; color:inherit;}
p{margin:0;}

.is-transparency{opacity:0 !important;}
.img-noraml{max-width:100%; vertical-align:middle;}
.img-w100{width:100%;}
.img-responsive{position:absolute; top:0; left:0; width:100%;}

.heading1{@include heading1();}
.heading2{@include heading2();}
.title1{@include title1();}
.title2{@include title1();}
.body1{@include body1();}
.body2{@include body2();}
.body3{@include body3();}
.body4{@include body4();}

.fl-l{float:left;}
.fl-r{float:right;}

.txt-c{text-align: center !important;}

.vt-middle{vertical-align: middle;}

//font
.fw-light{font-weight:$light !important;}
.fw-medium{font-weight:$medium !important;}ㅡ
.fw-regular{font-weight:$regular !important;}
.fw-bold{font-weight:$bold !important;}
.color-grey{color:#878686 !important;}
.color-grey1{color:$grey1 !important;}
.color-grey2{color:$grey2 !important;}

.color-black{color:#000 !important;}
.color-red{color:#ff0000 !important;}
.color-point1{color:$point1 !important;}

.is-hide{display:none !important;}

.site-padding{padding:0 $sitePadding; box-sizing:border-box;}

.font-kor{font-family: $font-kor;}

.bg-grey{background-color: #f5f5f5;}

.type-w100{width:100% !important;}

.sr-only{position: absolute; text-indent: -9999px; z-index: -1; display: inline-block; overflow: hidden; clip: rect(0 0 0 0); width: 1px; height: 1px;
    margin: -1px; padding: 0; word-break: keep-all; white-space: nowrap; border: 0;color: transparent; font: 0/0 a;}