@charset "utf-8";
// Variables
// 공통으로 사용되는 SCSS 변수들입니다.

//img ver
$ver:211025;

//device
$tablet-size:1024;

//font
$defaultSize:16;
$defaultLetter:0.06em;

//Font Weight
$thin:100;
$lightDown:200;
$light:300;
$regular :400;
$medium :500;
$bold:600;
$black:700;


//color
$black1:#000;
$black2:#484848;
$point1:#9b192f;
$grey1:#c2c2c2;
$grey2:#d2d2d2;
$bgColor:#f5f5f2;

//Font Family
$font-kor:'noto-kr', Sans-Serif;
$defaultFont:'futura-pt','noto-kr', Sans-Serif, 'Malgun Gothic', '맑은 고딕', '맑은고딕', 'Dotum', '돋움';

//layout 
$sitePadding:20rem;
$headerHeight:45rem;
$topHeight:58rem;
$itemHeight:40rem;

$headerTotal: $headerHeight + $topHeight;

//z-index;
$headerZindex:130;
$gnbZindex:15;
$depth1Zindex:110;
$depth2Zindex:120;
$dimZindex:25;
$searchZindex:150;




