@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "layout";
@import "rule";


@import url("https://use.typekit.net/xce7dnx.css");

@font-face {
    font-family: 'noto-kr';
    src: url(../fonts/notosans/notokr-thin.eot);
    src: url(../fonts/notosans/notokr-thin.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-thin.woff2) format("woff2"), url(../fonts/notosans/notokr-thin.woff) format("woff"), url(../fonts/notosans/notokr-thin.ttf) format("truetype"), url(../fonts/notosans/notokr-thin.svg#notokr-thin) format("svg");
    font-weight: 100;
    font-style: normal;
    }
    
    @font-face {
    font-family: 'noto-kr';
    src: url(../fonts/notosans/notokr-light.eot);
    src: url(../fonts/notosans/notokr-light.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-light.woff2) format("woff2"), url(../fonts/notosans/notokr-light.woff) format("woff"), url(../fonts/notosans/notokr-light.ttf) format("truetype"), url(../fonts/notosans/notokr-light.svg#notokr-light) format("svg");
    font-weight: 300;
    font-style: normal;
    }
    

    
    @font-face {
        font-family: 'noto-kr';
        src: url(../fonts/notosans/notokr-regular.eot);
        src: url(../fonts/notosans/notokr-regular.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-regular.woff2) format("woff2"), url(../fonts/notosans/notokr-regular.woff) format("woff"), url(../fonts/notosans/notokr-regular.ttf) format("truetype"), url(../fonts/notosans/notokr-regular.svg#notokr-regular) format("svg");
        font-weight: 400;
        font-style: normal;
}
    
    @font-face {
        font-family: 'noto-kr';
        src: url(../fonts/notosans/notokr-medium.eot);
        src: url(../fonts/notosans/notokr-medium.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-medium.woff2) format("woff2"), url(../fonts/notosans/notokr-medium.woff) format("woff"), url(../fonts/notosans/notokr-medium.ttf) format("truetype"), url(../fonts/notosans/notokr-medium.svg#notokr-medium) format("svg");
        font-weight: 500;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'noto-kr';
        src: url(../fonts/notosans/notokr-bold.eot);
        src: url(../fonts/notosans/notokr-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-bold.woff2) format("woff2"), url(../fonts/notosans/notokr-bold.woff) format("woff"), url(../fonts/notosans/notokr-bold.ttf) format("truetype"), url(../fonts/notosans/notokr-bold.svg#notokr-bold) format("svg");
        font-weight: 600;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'noto-kr';
        src: url(../fonts/notosans/notokr-black.eot);
        src: url(../fonts/notosans/notokr-black.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-black.woff2) format("woff2"), url(../fonts/notosans/notokr-black.woff) format("woff"), url(../fonts/notosans/notokr-black.ttf) format("truetype"), url(../fonts/notosans/notokr-black.svg#notokr-black) format("svg");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: 'noto-kr';
        src: url(../fonts/notosans/notokr-black.eot);
        src: url(../fonts/notosans/notokr-black.eot?#iefix) format("embedded-opentype"), url(../fonts/notosans/notokr-black.woff2) format("woff2"), url(../fonts/notosans/notokr-black.woff) format("woff"), url(../fonts/notosans/notokr-black.ttf) format("truetype"), url(../fonts/notosans/notokr-black.svg#notokr-black) format("svg");
        font-weight: 700;
        font-style: normal;
    }