@charset "UTF-8";
@import "variables";
@import "mixins";
@import "vendor";
@import "rule";
//메인
.page-main{
	.header{
		&:before{top:calcRem(-$headerHeight);}
		&.is-active{
			&:before{top:0;}
		}
	}
}